@using MoneyWeb.Models.ViewModels
@model UsuarioViewModel
@{
    ViewData["Title"] = "Visualizar Usuário";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form asp-controller="Usuario">
    <div class="form-floating mb-3">
        <input type="text" asp-for="Nome" class="form-control" id="txtNome" aria-describedby="nomeHelp" placeholder="" disabled readonly />
        <label for="txtNome">Nome</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" asp-for="NomeUsuario" class="form-control" id="txtUsuario" aria-describedby="nomeHelp" placeholder="" disabled readonly />
        <label for="txtUsuario">Usuário</label>
    </div>

    <div class="row">
        <div class="col text-start">
            <a class="btn btn-warning" role="button" asp-controller="Usuario" asp-action="Update" asp-route-id="@Model.Id">Editar</a>
        </div>
        <div class="col text-center">
            <a class="btn btn-danger" role="button" asp-controller="Usuario" asp-action="" asp-route-id="@Model.Id">Apagar</a>
        </div>
        <div class="col text-end">
            <a class="btn btn-secondary" role="button" asp-controller="Usuario" asp-action="Index">Voltar</a>
        </div>
    </div>
</form>
