@using MoneyWeb.Models.ViewModels
@using MoneyWeb.Helpers
@model UsuarioViewModel
@{
	ViewData["Title"] = "Criar novo usuário";
}

<div class="text-center">
	<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form asp-controller="Usuario" asp-action="Create" method="post">
    <div class="form-floating mb-3">
        <input type="text" asp-for="Nome" class="form-control @Html.GetValidationCssClass(nameof(Model.Nome))" id="txtNome" aria-describedby="nomeHelp" placeholder="" />
        <span asp-validation-for="Nome" class="invalid-feedback"></span>
        <label for="txtNome">Nome</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" asp-for="NomeUsuario" class="form-control @Html.GetValidationCssClass(nameof(Model.NomeUsuario))" id="txtUsuario" aria-describedby="nomeHelp" placeholder="" />
        <span asp-validation-for="NomeUsuario" class="invalid-feedback"></span>
        <label for="txtUsuario">Usuário</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" asp-for="Senha" class="form-control @Html.GetValidationCssClass(nameof(Model.Senha))" id="txtSenha" aria-describedby="nomeHelp" placeholder="" />
        <span asp-validation-for="Senha" class="invalid-feedback"></span>
        <label for="txtSenha">Senha</label>
    </div>

    <button type="submit" class="btn btn-primary">Criar</button>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-secondary me-md-2" role="button" asp-controller="Usuario" asp-action="Index">Voltar</a>
    </div>
</form>
