@using MoneyWeb.Models.ViewModels
@model IEnumerable<CategoriaViewModel>
@{
    ViewData["Title"] = "Lista de Categorias";
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a role="button" class="btn btn-primary" asp-controller="Categoria" asp-action="Create">Criar nova categoria</a>
</div>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Tipo</th>
                <th scope="col">Cor</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model)
            {
                <tr>
                    <th scope="row">@categoria.Id</th>
                    <td>@categoria.Nome</td>
                    <td>@categoria.Tipo</td>
                    <td>@categoria.Cor</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block" role="group" aria-label="Ações">
                            <a role="button" class="btn btn-info me-md-2" asp-controller="Categoria" asp-action="Read">Visualizar</a>
                            <a role="button" class="btn btn-warning" asp-controller="Categoria" asp-action="Update">Editar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Nenhuma categoria cadastrada!</h2>
}